spring:
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      idle-timeout: 30000
      max-lifetime: 1800000         # 30*60*1000
  jpa:
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql: true
        jdbc:
          fetch_size: 200
          batch_size: 50
        order_inserts: true
        order_updates: true